<%- include('../layouts/start.ejs') %>
<body>
  <%- include('../layouts/navbar.ejs') %>
  <main>
    <% if (errorMessage) { %>
      <h2><%= errorMessage %></h2>
      <% } %>
    <form
      class="form"
      action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
      method="POST"
      encType="multipart/form-data"
    >
      <div>
        <label for="title">Title</label>
        <input
          class="input_text"
          type="text"
          name="title"
          id="title"
          value="<% if (editing) { %><%= product.title %><% } %>"
        />
      </div>
      <div>
        <label for="image">Image</label>
        <input type="file" name="image" id="image" />
      </div>
      <div>
        <label for="price">Price</label>
        <input
          class="input_text"
          type="number"
          name="price"
          id="price"
          step="0.01"
          value="<% if (editing) { %><%= product.price %><% } %>"
        />
      </div>
      <div>
        <label for="description">Description</label>
        <textarea name="description" id="description" rows="5">
<% if (editing) { %><%= product.description %><% } %></textarea
        >
      </div>
      <% if (editing) { %>
      <input type="hidden" value="<%= product._id %>" name="productId" />
      <% } %>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="btn" type="submit">
        <% if (editing) { %>Update Product<% } else { %>Add Product<% } %>
      </button>
    </form>
  </main>
</body>
<%- include('../layouts/end.ejs') %>
