<%- include('../layouts/start.ejs') %>
<body>
  <%- include('../layouts/navbar.ejs') %>
  <main>
    <h1 class="primary_title">Products</h1>
    <p class="secondary_title">List of Products</p>
    <% if(prods.length > 0) { %>
    <article class="product_grid">
      <% for (let product of prods) { %>
      <div class="product_card">
        <h1 class="product_title"><%= product.title %></h1>
        <img src="/<%= product.imageUrl %>" height="200" width="200" />
        <p>Price: <%= product.price %></p>
        <p class="product_description"><%= product.description %></p>
        <artic class="card-action">
          <a
            class="btn product_btn"
            href="/admin/edit-product/<%= product._id %>?edit=true"
            >Edit</a
          >
          <input type="hidden" value="<%= product._id %>" name="productId" />
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button
            class="btn product_btn"
            type="button"
            onclick="deleteProduct(this)"
          >
            Delete
          </button>
        </div>
      </div>

      <% } %>
    </article>
    <% } else { %>
    <h1>No Product Found</h1>
    <% } %>
  </main>
</body>
<%- include('../layouts/end.ejs') %>
<script src="/js/admin.js"></script>
