<%- include('../layouts/start.ejs') %>
<body>
  <%- include('../layouts/navbar.ejs') %>
  <main>
    <h1 class="primary_title">Products</h1>
    <p class="secondary_title">List of Products</p>
    <% if(prods.length > 0) { %>
    <div class="product_grid">
      <% for (let product of prods) { %>
      <div class="product_card">
        <h1 class="product_title"><%= product.title %></h1>
        <img src="/<%= product.imageUrl %>" height="200" width="200" />
        <p>Price: <%= product.price %></p>
        <p class="product_description"><%= product.description %></p>
        <a class="btn product_btn" href="/admin/edit-product/<%= product._id %>?edit=true">Edit</a>
        
        <form action="/admin/delete-product" method="post"> 
          <input type="hidden" value="<%= product._id %>" name="productId" /> 
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <button class="btn product_btn">Delete</button></div> 
        </form>
      <% } %>
    </div>
    <%- include('../layouts/pagination.ejs', {currentPage: currentPage,
      nextPage: nextPage, lastPage: lastPage, hasNextPage: hasNextPage,
      hasPreviousPage: hasPreviousPage})%>
    <% } else { %>
    <h1>No Product Found</h1>
    <% } %>
  </main>
</body>
<%- include('../layouts/end.ejs') %>
