<section class="pagination">
  <% if (currentPage != 1 && previousPage !=1) { %>
  <a class="pagination-link" href="?page=1">1</a>
  <% } %> <% if (hasPreviousPage) { %>
  <a class="pagination-link" href="?page=<%= previousPage  %>"
    ><%= previousPage %></a
  >
  <% } %>
  <a class="pagination-link pagination-active" href="?page=<%= currentPage %>"
    ><%= currentPage %></a
  >

  <% if (hasNextPage) { %>
  <a class="pagination-link" href="?page=<%= nextPage  %>"><%= nextPage %></a>
  <% } %> <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
  <a class="pagination-link" href="?page=<%= lastPage  %>"><%= lastPage %></a>
  <% } %>
</section>
