<%- include('../layouts/start.ejs') %>
<body>
  <%- include('../layouts/navbar.ejs') %>
  <main>
    <% if (errorMessage) { %>
    <h2><%= errorMessage %></h2>
    <% } %>
    <form class="form" action="/login" method="POST">
      <h1>Login Form</h1>
      <div>
        <label for="email">Email</label>
        <input
          class="input_text"
          type="email"
          id="email"
          name="email"
          value="<%= oldInput.email %>"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          class="input_text"
          type="password"
          name="password"
          id="password"
          value="<%= oldInput.password %>"
        />
      </div>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <button class="btn" type="submit">Login</button>
    </form>
  </main>
</body>
<%- include('../layouts/end.ejs') %>
